.input {
  margin: 1vw 0.2vw;
}
.buttonSubmit {
  margin-top: 2vw;
  background-color: rgba(0, 0, 0, 0.8) !important;
  font-size: 1.4rem !important;
  font-weight: bold !important;
  padding: 0.2vw 1vw !important;
}
.button {
  background-color: rgba(0, 0, 0, 0.8) !important;
  font-weight: bold !important;
  padding: 0.2vw 1vw !important;
}
.buttonModal {
  background-color: rgba(0, 0, 0, 0.8) !important;
  font-weight: bold !important;
  padding: 0.2vw 1vw !important;
  font-size: 1.8rem !important;
}
