.buttonSubmit {
  margin-top: 2vw;
  background-color: rgba(0, 0, 0, 0.8) !important;
  font-size: 1.4rem !important;
  font-weight: bold !important;
  padding: 0.2vw 1vw !important;
  font-family: "Parisienne", cursive !important;
}
.button {
  background-color: rgba(0, 0, 0, 0.8) !important;
  font-weight: bold !important;
  padding: 0.2vw 1vw !important;
  font-family: "Parisienne", cursive !important;
}

.input {
  margin: 1vw 0.2vw;
  font-family: "Parisienne", cursive !important;
  font-size: 1.5rem !important;
}
.files {
  font-family: "Parisienne", cursive !important;
  font-size: 1.3rem;
}

.header {
  font-family: "Parisienne", cursive !important;
  font-weight: bold !important;
  font-size: 2rem !important;
}
.spinner {
  margin-left : 2vw;
}
.body {
  margin : 1vw
}