.pages {
  display: flex;
  width: auto;
  flex-basis: 65%;
  margin: 1rem;
}
.leftPage {
  background: url("./images/paper.png"),
    linear-gradient(
      270deg,
      rgba(157, 158, 137, 1) 0%,
      rgba(233, 226, 187, 1) 5%,
      rgba(255, 251, 203, 1) 18%
    );
  border-radius: 24px 20% 20% 24px/8px 15px 15px 8px;
  width: 30vw;
  height: 80vh;
  margin-top: 3vh;
  margin-left: 5vw;
  box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.3) inset;
}
.rightPage {
  margin-top: 3vh;
  background: url("./images/paper.png"),
    linear-gradient(
      90deg,
      rgba(157, 158, 137, 1) 0%,
      rgba(233, 226, 187, 1) 5%,
      rgba(255, 251, 203, 1) 18%
    );
  border-radius: 20% 24px 24px 20%/15px 8px 8px 15px;
  overflow: auto;
  width: 30vw;
  box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.3) inset;
}

.titleAbout {
  font-size: 5vw;
  padding-top: 30vh;
  font-weight: bold;
}
.aboutText {
  padding: 10vh 3vw;
  font-size: 1.5vw;
  text-align: justify;
  text-indent: 2vw;
}
.arrowleft {
  width: 5vw;
  margin-left: 10vw;
  cursor: pointer;
}
.arrowright {
  width: 5vw;
  margin-left: 5vw;
  cursor: pointer;
}