.pages {
  display: flex;
  width: auto;
  flex-basis: 65%;
  margin: 1rem;
}
.leftPage {
  background: url("./images/paper.png"),
    linear-gradient(
      270deg,
      rgba(157, 158, 137, 1) 0%,
      rgba(233, 226, 187, 1) 5%,
      rgba(255, 251, 203, 1) 18%
    );
  border-radius: 24px 20% 20% 24px/8px 15px 15px 8px;
  width: 30vw;
  height: 80vh;
  margin-top: 3vh;
  margin-left: 5vw;
  box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.3) inset;
}
.rightPage {
  margin-top: 3vh;
  background: url("./images/paper.png"),
    linear-gradient(
      90deg,
      rgba(157, 158, 137, 1) 0%,
      rgba(233, 226, 187, 1) 5%,
      rgba(255, 251, 203, 1) 18%
    );
  border-radius: 20% 24px 24px 20%/15px 8px 8px 15px;
  overflow: auto;
  width: 30vw;
  box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.3) inset;
}
.titleContact {
  font-size: 5vw;
  padding-top: 30vh;
  font-weight: bold;
}
.form {
  padding: 1vw 3vw;
}
.input {
  font-size: 1.1vw !important;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.contactText {
  padding: 8vh 3vw 0 3vw;
  font-size: 1.5vw;
  text-align: justify;
  text-indent: 2vw;
}
.contactMessage {
  font-size: 1vw;
  text-align: justify;
  text-indent: 2vw;
}
.button {
  font-size: 1.5vw !important;
  background-color: black !important;
  font-weight: bold !important;
  width: 5vw;
}
.arrowleft {
  width: 5vw;
  margin-left: 10vw;
  cursor: pointer;
}
.email {
  margin-top: 20vh;
}
.logo {
  width: 2vw;
  margin-right: 1vw;
}
